language: python

---
name: decorator
phrase: decorator
insertionScope: statement

$1.wrapperPhrase: decorate
$1.wrapperScope: function
---

name: decorated_function
phrase: decorated funk
insertionScope: statement
-
@$1
def $2(func):
    $0
---
